.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
}

.filterBtns {
  display: flex;
  justify-content: center;
  margin: 20px 10px 0;
}

.filterBtns p {
  margin: 0;
}

.filterBtns button {
  background-color: #eaeaea;
  margin: 0 5px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.footer a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.title {
  font-size: 3rem;
  line-height: 1.15;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 992px) {
  .promotionsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 65vw;
  }
}
